.flex-container {
    display: flex;
    background-color: #F0f0f0;
    width:270px;

    /*通过添加 flex-wrap: wrap ，可以将溢出容器的 flex 项将被排列到另一行/列中。*/
    flex-wrap: wrap;

    /*默认情况下，当 flex 容器的交叉轴（cross axis）上存在多余空间时，您可以在 flex 容器上设置 align-content，以控制 flex 项在交叉轴（cross axis）上的对齐方式。*/
    justify-content: space-evenly;
    align-content: space-evenly;
}

.flex-container .flex-item{
    padding:20px;
    height: 20px;
    background-color: #B1FF84;
}
.flex-container .flex-item:first-child{
    background-color: #F5DE25;
}
.flex-container .flex-item:last-child{
    background-color: #90D9F7;
}